# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
ENV/

# Environment variables
.env

# Database
db.sqlite3
*.sqlite3

# Django
*.log
local_settings.py

# Django media/static
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
